# R files
.Rproj.user
.Rhistory
.RData
.RData*
.Ruserdata

# Folders
_output
04_Outputs
*/*_priv
*/*_raw
01_data/02_prod/bds

# Specific files
03_documentation/01_public/LAIT.xlsm
01_data/01_raw/BDS_Wide.csv
