/* Fonts ------------------------------------------------------------------- */
/* main body text */
body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.188rem;
  margin-bottom: 1.25rem;
}

p {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.188rem;
  margin-bottom: 1.25rem;
  overflow-wrap: anywhere; /* email too big for smaller screens and needs to wrap */
}

/* make all text sans-serif (for ggiraph plots on shinyapps.io) */
text {
  font-family: helvetica,arial,sans-serf;
}

/* heading text */
.govuk-header__link--service-name {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.875rem;
}

.h1,
h1 {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.0416666667;
  margin-top: 0;
  margin-bottom: 1.875rem;
  overflow-wrap: break-word; /* apprenticeships in H1 is too big for some mobiles and needs to wrap */
}

.h2,
h2 {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.0416666667;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.h3,
h3 {
  font-family: "Helvetica Neue","Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.0416666667;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

/* feedback banner */
.govuk-phase-banner__text {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1rem;
  color: #000000;
  overflow-wrap: anywhere; /* email too big for smaller screens and needs to wrap */
}

/* well text */
label {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.188rem;
}

/* bslib card text */
.bslib-card .card-header, .bslib-card .card-footer {
    font-size: 1.188rem;
}

.bslib-card {
    box-shadow: none;
}

/* second dropdown options */
.selectize-input {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.188rem;
  color: #000000;
}

/* Bullet point formatting ------------------------------------------------- */
li {
  margin-bottom: 0.313rem;
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

ul {
  padding-left: 1.25rem;
  list-style-type: disc;
}

/* Link text styling ------------------------------------------------------- */
a {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  text-decoration: underline;
  text-decoration-thickness: max(0.063rem);
  text-underline-offset: .1578em;
  word-break: break-word;
  background-color: transparent;
}

a:visited {
  color: #4C2C92;
}

a:focus {
  outline: 0.188rem solid rgba(0, 0, 0, 0);
  color: #0b0c0c;
  background-color: #fd0 !important;
  box-shadow: 0 -0.125rem #fd0, 0 0.25rem #0b0c0c;
  text-decoration: underline;
}

a:hover {
  outline: 0.188rem solid rgba(0, 0, 0, 0);
  color: #0b0c0c;
  background-color: #fd0 !important;
  box-shadow: 0 -0.125rem #fd0, 0 0.25rem #0b0c0c;
  text-decoration: underline;
}

/* GOV.UK containers ------------------------------------------------------- */
.govuk-header__link:hover {
  color: #000;
}

/* force things like beta banner to full width */
.govuk-width-container {
  max-width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}

/* reduce the padding around govuk-main-wrapper */
.govuk-main-wrapper {
  padding: 1rem;
}

/* reduce the padding even more around the beta banner */
.govuk-phase-banner.govuk-width-container.govuk-main-wrapper {
  padding: 0.5rem !important;
}


/* removing white gutters on govheader container */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.container-fluid {
  padding: 0;
}

.row {
  margin-right: 0;
}

/* No longer in use as using col width 10 */
/* sets the main area width. Originally set to 66.667% in the GDS
template. 80% works well here to reduce white space on the right hand side.*/
/*
.col-sm-8 {
  width: 80%
}
*/

/* Media query for screens smaller than 768px (e.g., tablets and mobile) */
@media screen and (max-width: 768px) {
  .col-sm-8 {
    width: 100%; /* Full width on mobile devices */
  }
}

/* GOV.UK footer ----------------------------------------------------------- */
/* footer padding */
.govuk-footer {
  padding: 2rem;
}

/* This makes it look like the footer extends on shorter pages  */
html {
  background-color: #f3f2f1;
}

/* Contents links, remove visited style ------------------------------------ */
.action-button:visited {
  color: #1d70b8;
}

.action-button:hover .action-button:focus {
  color: #000;
}

/* backlinks --------------------------------------------------------------- */
.govuk-back-link:link {
  max-width: fit-content;
}

/* Card tabs CSS ----------------------------------------------------------- */
/* TODO - fix the borders and margins on the tabs */

/* Custom disconnect CSS --------------------------------------------------- */
#ss-connect-dialog {
  display: none !important;
}

#shiny-disconnected-overlay {
  display: none !important;
}

#ss-overlay {
  background-color: #000000 !important;
  opacity: 0.6 !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 99998 !important;
  overflow: hidden !important;
  cursor: not-allowed !important;
}

#custom-disconnect-dialog {
  background: #000000 !important;
  color: #FFFFFF !important;
  width: full !important;
  transform: translateX(-50%) translateY(-50%) !important;
  top: 50% !important;
  position: fixed !important;
  bottom: auto !important;
  font-size: 1.188rem !important;
  left: 50% !important;
  padding: 0.8em 1.5em !important;
  text-align: center !important;
  height: auto !important;
  opacity: 1 !important;
  z-index: 99999 !important;
  border-radius: 0.188rem !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0.188rem 0.188rem 0.625rem !important;
}

/* GOV.UK button copied in from shiny gov style ---------------------------- */
.gov-uk-button {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: fit-content;
    margin: 0 0 1.375rem;
    padding: 0.5rem 0.625rem 0.438rem;
    border: 0.125rem solid transparent;
    border-radius: 0;
    color: #fff !important;
    background-color: #00703c;
    box-shadow: 0 0.125rem 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: none;
}

.gov-uk-button:active {
    top: 0.125rem;
    background-color: #00703c !important;
}

.gov-uk-button:hover {
    top: 0.125rem;
    text-decoration: none;
    background-color: #005a30 !important;
}

.gov-uk-button:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #fff !important;
    background-color: #005a30 !important;
    text-decoration: none;
    box-shadow: 0 0.125rem 0 #000;
}

.gov-uk-button:focus {
    border-color: #fd0;
    outline: 0.188rem solid transparent;
    box-shadow: inset 0 0 0 0.063rem #fd0;
}

/* custom sort indicators -------------------------------------------------- */
.bar-sort-header:hover,
.bar-sort-header:focus {
  background: #fd0;
}

/* Add a top bar on ascending sort */
.bar-sort-header[aria-sort="ascending"] {
  box-shadow: inset 0 0.188rem 0 0 #1d70b8;
}

/* Add a bottom bar on descending sort */
.bar-sort-header[aria-sort="descending"] {
  box-shadow: inset 0 -0.188rem 0 0 #1d70b8;
}

/* Add an animation when toggling between ascending and descending sort */
.bar-sort-header {
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Table row highlighting -------------------------------------------------- */
.rt-tr-highlight:hover {
    background-color: #fd0;
}

.rt-search {
  align-self: normal !important;
}

/* Highlight on the page button indicators --------------------------------- */
.rt-page-button:hover,
.rt-page-button:focus,
.rt-page-button:active {
    background: #fd0 !important;
    box-shadow: inset 0 -0.188rem 0 0 #1d70b8;
}

/* dropdowns CSS ----------------------------------------------------------- */
.selectize-input:hover,
.selectize-input:active,
.selectize-input:focus {
  box-shadow: inset 0 -0.188rem 0 0 #1d70b8;
}

/* Change focus border color to yellow */
.selectize-input.focus {
    border-color: #fd0 !important;
    box-shadow: 0 0 0.313rem #fd0 !important;
}

/* Change focus color to bright yellow */
.selectize-dropdown-content .option:hover,
.selectize-dropdown-content .option:focus,
.selectize-dropdown-content .option.active {
    background-color: #fd0 !important;
    color: black !important;
}


/*********************************  JT edits *********************************/

/* Remove bottom margin from bslib cards */
.bslib-mb-spacing {
  margin-bottom: 0;
}

/* Extends bslib page height */
.bslib-page-fill {
  height: auto;
  padding: 0;
}


/* Make full-screen bslib cards aesthetic */
/* Set card size when not expanded */
.card.bslib-card.bslib-mb-spacing.html-fill-item.html-fill-container[data-full-screen="false"] {
  align-self: center;
}

/* Set the ggiraph SVG to fill the available space within the card */
/* When the card is in full-screen mode */
.card.bslib-card.bslib-mb-spacing.html-fill-item.html-fill-container[data-full-screen="true"] .ggiraph-svg {
  height: 80vh !important;
  max-height: none !important;
}

/* When the card is not in full-screen mode */
.card.bslib-card.bslib-mb-spacing.html-fill-item.html-fill-container[data-full-screen="false"] .ggiraph-svg {
  height: 50vh !important;
}

/* Set default reactable styles */
.reactable {
  font-size: 1rem !important;
  table-layout: fixed;
  width: 100% !important;
  word-break: keep-all; /* Prevents breaking words mid-word */
  white-space: normal; /* Allows line breaks between words */
}

@media screen and (min-width: 1440px) {
  .bslib-sidebar-layout .sidebar-title {
    font-size: 1.188rem !important;  /* Slightly larger font size for large monitors */
  }
}

@media screen and (min-width: 1240px) {
  .bslib-sidebar-layout .sidebar-title {
    font-size: 1.1rem !important;  /* Slightly larger font size for large laptops */
  }
}

/* Media query for laptop screens (1024px or smaller) */
@media screen and (max-width: 1024px) {
  .reactable,
  .bslib-sidebar-layout > .sidebar > .sidebar-content label,
  .selectize-control.multi .selectize-input.has-items {
    font-size: 0.9rem !important; /* Slightly smaller font size for laptops */
  }
}

/* Media query for tablet-sized screens (768px or smaller) */
@media screen and (max-width: 768px) {
  .reactable,
  .bslib-sidebar-layout > .sidebar > .sidebar-content label,
  .selectize-control.multi .selectize-input.has-items {
    font-size: 0.8rem !important; /* Smaller font size for tablets */
  }
}

/* Media query for small screens (480px or smaller) */
@media screen and (max-width: 480px) {
  .reactable,
  .bslib-sidebar-layout > .sidebar > .sidebar-content label,
  .selectize-control.multi .selectize-input.has-items {
    font-size: 0.7rem !important; /* Even smaller font size for mobile */
  }
}

/* Used instead of .col-sm-8 for main body of app */
/* Adjusting padding for aesthetic & gov compliance (RHS whitespace) */
.col-sm-10 {
  padding-right: 2rem;
  padding-left: 0;
}

/* Making padding look nice on mobile (whitespace to right and left of main tab) */
@media screen and (max-width: 576px) {
  .col-sm-10 {
    padding-right: 1.5rem;
    padding-left: 2rem;
  }
}

/* Divider between naigation and tab header for mobile */
@media screen and (min-width: 576px) {
  .mobile-only-hr {
    display: none; /* Hide hr on larger screens */
  }
}

/* Prevents horizontal scroll from appearing unecessarily */
@media screen and (min-width: 850px) {
  .Reactable .rt-table {
    overflow-x: hidden;
  }
}


/* Setting sidebar title in bslib sidebar cards */
@media screen and (min-width: 1440px) {
  .bslib-sidebar-layout .sidebar-title {
    font-size: 1.35rem !important;
  }
}

@media screen and (min-width: 1240px) {
  .bslib-sidebar-layout .sidebar-title {
    font-size: 1.25rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .bslib-sidebar-layout .sidebar-title {
    font-size: 1.1rem !important;
  }
}

@media screen and (max-width: 768px) {
  .bslib-sidebar-layout .sidebar-title {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 480px) {
  .bslib-sidebar-layout .sidebar-title {
    font-size: 0.8rem !important;
  }
}

/* Force sidebar to enter mobile mode (always on top of plot) on wider screen */
@media (max-width: 900px) {
  .bslib-sidebar-layout[data-collapsible-mobile="false"] {
      display: block !important;
      --_padding-icon: var(--_padding);
      --_vert-border: none;
  }
}

@media (max-width: 900px) {
  .bslib-sidebar-layout {
      --bslib-sidebar-js-window-size: mobile;
  }
}

@media (max-width: 900px) {
  .bslib-sidebar-layout[data-collapsible-mobile="false"]>.collapse-toggle {
      display: none;
  }
}


/* When the card is in full-screen mode, hide the sidebar */
.card.bslib-card.bslib-mb-spacing.html-fill-item.html-fill-container[data-full-screen="true"] .bslib-sidebar-layout {
  --_sidebar-width: 0% !important;
}

/* When the card is in full-screen mode, remove sidebar styles */
.card.bslib-card.bslib-mb-spacing.html-fill-item.html-fill-container[data-full-screen="true"] .bslib-sidebar-layout>.sidebar {
  display: none;
}

/* When in full-screen mode, the main content should take up the full width */
.card.bslib-card.bslib-mb-spacing.html-fill-item.html-fill-container[data-full-screen="true"] .bslib-sidebar-layout>.main {
  flex: 1 1 100%; /* Allow the main content to take up 100% of the width */
}

/* Visually hide column headers, but keep them accessible to screen reader users. */
.hidden-column-headers .rt-thead {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* shinyGovstyle secondary button */
.govuk-button--secondary {
    background-color: #f3f2f1;
    box-shadow: 0 2px 0 #929191
}

.govuk-button--secondary,
.govuk-button--secondary:active,
.govuk-button--secondary:hover,
.govuk-button--secondary:link,
.govuk-button--secondary:visited {
    color: #0b0c0c
}

.govuk-button--secondary:hover {
    background-color: #dbdad9
}

.govuk-button--secondary:hover[disabled] {
    background-color: #f3f2f1
}

/* shinyGovstyle warning button */
.govuk-button--warning {
    background-color: #d4351c;
    box-shadow: 0 2px 0 #55150b
}

.govuk-button--warning,
.govuk-button--warning:active,
.govuk-button--warning:hover,
.govuk-button--warning:link,
.govuk-button--warning:visited {
    color: #fff
}

.govuk-button--warning:hover {
    background-color: #aa2a16
}

.govuk-button--warning:hover[disabled] {
    background-color: #d4351c
}


/* Gives pickerInput defaultlook */
.bootstrap-select .dropdown-toggle {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ced4da; /* matches the default border color of selectInput */
  border-radius: 4px; /* gives a slight rounded corner */
  padding: 5px 10px; /* add padding for a similar appearance */
  box-shadow: none; /* remove any default shadow */
}

/* shinyGovstyle notification banner styling */
.govuk-notification-banner {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 0 !important;
  border: 5px solid #1d70b8;
  background-color: #1d70b8
}

@media print {
  .govuk-notification-banner {
      font-family: sans-serif
  }
}

@media (min-width:40.0625em) {
  .govuk-notification-banner {
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .govuk-notification-banner {
      font-size: 14pt;
      line-height: 1.15
    }
}

@media (min-width:40.0625em) {
  .govuk-notification-banner {
     margin-bottom: 0 !important
  }
}

.govuk-notification-banner:focus {
  outline: 3px solid #fd0
}

.govuk-notification-banner__header {
  padding: 2px 15px 5px;
  border-bottom: 1px solid transparent
}

@media (min-width:40.0625em) {
  .govuk-notification-banner__header {
      padding: 2px 20px 5px
  }
}

.govuk-notification-banner__title {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #fff
}

@media (min-width:40.0625em) {
  .govuk-notification-banner__title {
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .govuk-notification-banner__title {
      font-size: 14pt;
      line-height: 1.15
  }
}

.govuk-notification-banner__content {
  color: #0b0c0c;
  padding: 15px;
  background-color: #fff
}

@media print {
  .govuk-notification-banner__content {
      color: #000
  }
}

@media (min-width:40.0625em) {
  .govuk-notification-banner__content {
      padding: 20px
  }
}

.govuk-notification-banner__content>* {
  box-sizing: border-box;
  max-width: none;
}

.govuk-notification-banner__content>:last-child {
  margin-bottom: 0
}

.govuk-notification-banner__heading {
  font-size: 1.125rem;
  line-height: 1.1111111111;
  font-weight: 700;
  margin: 0 0 15px;
  padding: 0
}

@media (min-width:40.0625em) {
  .govuk-notification-banner__heading {
      font-size: 1.2rem; /* Changed from 1.5 */
      line-height: 1.25
  }
}

@media print {
  .govuk-notification-banner__heading {
      font-size: 18pt;
      line-height: 1.15
  }
}

.govuk-notification-banner__link {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: .1578em
}

@media print {
  .govuk-notification-banner__link {
      font-family: sans-serif
  }
}

.govuk-notification-banner__link:hover {
  text-decoration-thickness: max(3px, .1875rem, .12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none
}

.govuk-notification-banner__link:focus {
  outline: 3px solid transparent;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.govuk-notification-banner__link:link,
.govuk-notification-banner__link:visited {
  color: #1d70b8
}

.govuk-notification-banner__link:hover {
  color: #003078
}

.govuk-notification-banner__link:active,
.govuk-notification-banner__link:focus {
  color: #0b0c0c
}

/* Aligning page header spinner to left top and nice size */
#page_header_spinner .load-container {
  transform: translateX(-40%) !important;
  top: 0 !important;
}

#page_header_spinner .shiny-spinner-placeholder {
  min-height: 62.5px !important;
  height: fit-content !important;
}

/* shinyGovstyle radio buttons */
.govuk-radios__item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 10px
}

.govuk-radios__item:last-child,
.govuk-radios__item:last-of-type {
    margin-bottom: 0
}

.govuk-radios__input {
    z-index: 1;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0;
    vertical-align: middle;
    cursor: pointer
}

.govuk-radios__label {
    align-self: center;
    max-width: none !important; /* Too narrow*/
    display: inline-block;
    padding: 7px 15px;
    cursor: pointer;
    touch-action: manipulation
}

.govuk-radios__label:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 50%;
    background: transparent
}

.govuk-radios__label:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-radius: 50%;
    opacity: 0;
    background: currentcolor
}

.govuk-radios__hint {
    display: block;
    width: 100%;
    margin-top: -5px;
    padding-right: 15px;
    padding-left: 59px
}

.govuk-label:not(.govuk-label--m):not(.govuk-label--l):not(.govuk-label--xl)+.govuk-radios__hint {
    margin-bottom: 0
}

.govuk-radios__input:focus+.govuk-radios__label:before {
    border-width: 4px;
    outline: 3px solid transparent;
    outline-offset: 1px;
    box-shadow: 0 0 0 4px #fd0
}

@media (-ms-high-contrast:active),
screen and (forced-colors:active) {
    .govuk-radios__input:focus+.govuk-radios__label:before {
        outline-color: Highlight
    }
}

.govuk-radios__input:checked+.govuk-radios__label:after {
    opacity: 1
}

.govuk-radios__input:disabled,
.govuk-radios__input:disabled+.govuk-radios__label {
    cursor: not-allowed
}

.govuk-radios__input:disabled+.govuk-radios__label,
.govuk-radios__input:disabled~.govuk-hint {
    opacity: .5
}

@media (min-width:40.0625em) {
    .govuk-radios--inline {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start
    }

    .govuk-radios--inline .govuk-radios__item {
        margin-right: 20px
    }
}

.govuk-radios__divider {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    width: 40px;
    margin-bottom: 10px;
    text-align: center
}

@media print {
    .govuk-radios__divider {
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    .govuk-radios__divider {
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .govuk-radios__divider {
        font-size: 14pt;
        line-height: 1.15;
        color: #000
    }
}

.govuk-radios__conditional {
    margin-bottom: 15px;
    margin-left: 18px;
    padding-left: 33px;
    border-left: 4px solid #b1b4b6
}

@media (min-width:40.0625em) {
    .govuk-radios__conditional {
        margin-bottom: 20px
    }
}

.govuk-frontend-supported .govuk-radios__conditional--hidden {
    display: none
}

/* Styling bslib tooltip with gov colour */
.gov-tooltip .tooltip-inner {
  background-color: #5694ca !important;
  color: #fff !important;
  padding: 5px;
  border-radius: 5px;
}

/* Applying gov colour to the arrow */
.gov-tooltip[data-popper-placement^="top"] .tooltip-arrow::before {
  border-top-color: #5694ca !important;
}

.gov-tooltip[data-popper-placement^="right"] .tooltip-arrow::before {
  border-right-color: #5694ca !important;
}

.gov-tooltip[data-popper-placement^="bottom"] .tooltip-arrow::before {
  border-bottom-color: #5694ca !important;
}

.gov-tooltip[data-popper-placement^="left"] .tooltip-arrow::before {
  border-left-color: #5694ca !important;
}
